.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    background: #706513;
  }
  
  .about-container {
    display: flex;
    max-width: 1200px;
    align-items: center;
    gap: 50px;
  }
  
  .about-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .about-text {
    max-width: 600px;
  }
  
  .about-text h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .about-text p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 15px;
  }

  
/* Estilos para pantallas móviles */
@media (max-width: 768px) {
  .about {
    padding: 50px 20px; /* Reduce el padding */
  }

  .about-container {
    flex-direction: column; /* Apila la imagen y el texto verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Reduce el espacio entre la imagen y el texto */
  }

  .about-image img {
    width: 250px; /* Reduce el tamaño de la imagen */
  }

  .about-text {
    max-width: 100%; /* Permite que el texto ocupe todo el ancho */
  }

  .about-text h2 {
    font-size: 1.5rem; /* Reduce el tamaño del título */
  }

  .about-text p {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
  }
}
  